{
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": ["*.liquid"],
      "options": {
        "singleAttributePerLine": false,
        "liquidSingleQuote": false
      }
    }
  ]
}
